*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;;
    scroll-behavior: smooth;
}


body {
    background: linear-gradient(145deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
	/*background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);*/
}

/***** Navbar *****/
.navbar{
    background-color: transparent;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: fixed;
    top: 0;
    z-index: 999;
}

.navbar.is-active{
    background-color: rgba(253,29,29,1);
}

.navbar__container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
}

#navbar__logo{
    font-family: 'Train One', cursive;
    color: #fff;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2.5rem;
    padding-left: 10px;
    font-weight: 800;
}

.navbar__menu{
    background-color: rgba(253,29,29,1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    width: 100%;
    position: absolute;
    top: -1000px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: -1;
}

.navbar__menu.active{
    background-color: rgba(253,29,29,1);
    width: 100%;
    top: 100%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 99;
    height: 92vh;
    font-size: 1.6rem;
}

.navbar__item{
    height: 80px;
}

.navbar__toggle .bar{
    width: 30px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
}

.navbar__item{
    width: 100%;
}

.navbar__links{
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease-in-out;
    padding: 1.25rem;    
}

.navbar__links:hover{
    color:  rgb(211, 36, 132);
    transition: all 0.3s ease-in-out;
}

#mobile-menu{
    position: absolute;
    top: 15px;
    right: 10px;
    transform: translate(5%, 20%);
}

.navbar__toggle .bar{
    display: block;
    cursor: pointer;
}

#mobile-menu.is-active .bar:nth-child(2){
    opacity: 0;
}

#mobile-menu.is-active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
}

#mobile-menu.is-active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
}

@media screen and (min-width: 768px){
    #navbar__logo{
        font-size: 3rem;
        padding-left: 15px;
    }

    .navbar__toggle .bar{
        width: 40px;
        height: 3.5px;
    }

    .navbar__links{
        font-size: 2rem;
    }

    #mobile-menu{
        top: 30px;
        right: 25px;
    }
}

/* Hero Section */
.load{
    animation: slide 2s;
}
  
.slider{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    animation: slide 20s infinite;
}

@keyframes slide {
    0%{
      background-image: url('img/landscape-new/zara36.jpg');
    }
    20%{
      background-image: url('img/landscape-new/zara36.jpg');
    }
    20.01%{
      background-image: url('img/landscape-new/frank12_1.jpg');
    }
    40%{
      background-image: url('img/landscape-new/frank12_1.jpg');
    }
    40.01%{
      background-image: url('img/landscape-new/frank36.jpg');
    }
    60%{
      background-image: url('img/landscape-new/frank36.jpg');
    }
    60.01%{
      background-image: url('img/landscape-new/negry05.1.jpeg');
    }
    80%{
      background-image: url('img/landscape-new/negry05.1.jpeg');
    }
    80.01%{
      background-image: url('img/landscape-new/zara28.jpg');
    }
    100%{
      background-image: url('img/landscape-new/zara28.jpg');
    }
}
  
.content{
    width: 100%;
    height: 100vh;
    background-color: rgba(118, 118, 118, 0.3);
}
  
.principal{
    width: 100%;
    top: 75%;
    position: absolute;
    letter-spacing: 5px;
    text-align: left;
    background-color: rgba(66, 66, 66, 0.5);
}

.hero{
    width: 100%;
    top: 40%;
    position: absolute;
    letter-spacing: 5px;
    text-align: left;
    background-color: rgba(66, 66, 66, 0.7);
}

.hero__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
    text-align: center;
    padding: 2.25rem;
}

.hero__heading{
    color: #fff;
    font-size: 1.75rem;
    margin-bottom: 24px;
}

.hero__heading span{
    background: #FBD3E9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.hero__description{
    color: #fff;
    font-size: 1.25rem;
}

.highlight{
    border-bottom: 4px solid rgb(211, 36, 132);
}

@media screen and (min-width: 768px){
    .hero{
        top: 50%;
    }

    .hero__heading{
        font-size: 2.25rem;
    }

    .hero__description{
        font-size: 1.75rem;
    }

    .hero__heading span{
        font-size: 3rem;
        font-weight: 800;
    }
}

@media screen and (min-width: 1024px){
    .hero{
        top: 60%;
    }

}

@media screen and (min-width: 1200px){    
    .hero__heading{
        font-size: 2.5rem;
    }

    .hero__description{
        font-size: 2rem;
    }
}

.main{
    color: #fff;
    padding: 2.25rem;
    height: 100%;
    width: 100%;
}

.main h1{
    padding: 25px 0;    
    text-align: center;
}

.main__wrapper{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    padding: 0 2.25rem;
}

.main__container p{
    padding-bottom: 1.5rem;
    text-align: justify;
}

.video__content{
    margin-top: 10px;
    -webkit-box-shadow:  0 25px 50px rgba(53, 53, 53, 0.5);
    -moz-box-shadow: 0 25px 50px rgba(53, 53, 53, 0.5);
    box-shadow: 0 25px 50px rgba(53, 53, 53, 0.5);
}

@media screen and (max-width: 564px){
    .video__container{
        width: 100%;
    }
}

@media screen and (min-width: 768px){
    .main h1{
        font-size: 2.5rem;
        margin-bottom: 15px;
    }

    .main__container p{
        font-size: 1.5rem;
        padding: 0 2rem;
        padding-bottom: 1.75rem;
    }
}

@media screen and (min-width: 1023px){

    .main__wrapper{
        display: flex;
        flex-flow: nowrap;
        padding: 1rem;
    }

    .main__container{
        align-items: center;
        justify-content: center;
    }

    .main__container p{
        padding: 15px 0px;
        padding-right: 2rem;
    }
    
}

@media screen and (min-width: 1500px){

    .main h1{
        font-size: 2.5rem;
        margin-bottom: 15px;
    }

    .main__container p{
        font-size: 1.5rem;
        padding: 0 2rem;
        padding-bottom: 1.75rem;
    }
}

/* Features */

#features{
  justify-content: center;
  align-items: center;
  color: #fff;
}

#features h1{
    width: 100%;
    padding: 25px 0;
    text-align: center;
}

#features article{
  width: 60%;
  margin: 30px 0;
}

.features-wrapper{
  display: flex;
  justify-content: center;
  align-content: center;
  flex-flow: column;
}

#features a{
  display: flex;
  justify-content: center;
  font-size: 1.5em;
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center;
  transition: transform .3s;
}

#features a:hover{
  transform: scale(1.1);
}

#features a img{
  width: 250px;
  height: 250px;
  border: 5px solid rgb(245, 240, 243);
  border-radius: 50% ;
}

#features h3{
  margin: 0;
  text-align: center;
  font-size: 1.25em;
} 

#features p{
  margin: 0;
  text-align: center;
  font-size: 0.875em;
}

@media only screen and (min-width: 768px){
    #features {
      height: 100%;
    }

    #features h1{
        font-size: 2.5rem;
    }
  
    #features article{
      width: 50%;
      margin: 50px;
    }

    #features h3{
        padding-bottom: 10px;
        font-size: 1.75rem;
    }

    #features p{
        font-size: 1.25rem;
        padding-bottom: 20px;
    }
}

@media only screen and (min-width: 960px){
    .features-wrapper {
      flex-flow: row wrap;
    }

    #features a img{
        width: 300px;
        height: 300px;
    }
    .horse-icon{
        margin: 0 50px;
    }
}

@media screen and (min-width: 1020px){
    .horse-icon{
        margin: 0 100px;
    }

    #features h3{
        padding-bottom: 10px;
        font-size: 2rem;
    }

    #features p{
        font-size: 1.5rem;
        padding-bottom: 20px;
    }
}

@media screen and (min-width: 1300px){
    .horse-icon{
        margin: 0 150px;
    }
}

/* --- CHAMPIONSHIP ---*/

#championship{
    text-align: center;
    margin: 2.5rem;
    color: #fff;
}

#championship h1{
    font-size: 2.5rem;
}

.championship__card__content{
    width: 100%;
    height: 100%;
}

.card{
    position: relative;
    height: 670px;
    width: 100%;
    background: #fff;
    border-radius: 25px;
    box-shadow: 0 25px 50px rgba(53, 53, 53, 0.5);
}

.card .inner-card{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 25px;
    position: absolute;

}

#tapImg:checked ~ .inner-card{
    padding: 0;
    transition: .1s ease-in;
}

.card__content{
    align-items: center;
    width: 530px;
    opacity: 0;
    transition: .6s;
}

#tap-1:checked ~ .inner-card .content-1,
#tap-2:checked ~ .inner-card .content-2,
#tap-3:checked ~ .inner-card .content-3,
#tap-4:checked ~ .inner-card .content-4{
    opacity: 1;
    margin-left: 0;
    z-index: 100;
    transition-delay: 0.5s;
}

.card__content span{
    display: block;
    color: salmon;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: 600;
}

.card__content h3{
    font-size: 18px;
    font-weight: 600;
    color: #000;
    margin-bottom: 15px;
}

.card__content p{
    font-size: 18px;
    color: #000;
    margin-top: 15px;
    line-height: 1em;
    text-align: center;
    margin-bottom: 20px;
}

.card-slider{
    position: absolute;
    display: flex;
    bottom: 25px;
    left: 150px;
    z-index: 100;
    transform: translateX(-50%);
}

#tapImg:checked ~ .card-slider{
    display: none;
}

.card-slider .tap{
    position: relative;
    height: 10px;
    width: 50px;
    background: #d9d9d9;
    border-radius: 5px;
    display: inline-flex;
    margin: 0 3px;
    cursor: pointer;
}

.card-slider .tap:before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(145deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    border-radius: 10px;
    transform: scaleX(0);
    transition: transform .6s;
    transform-origin: left;
}

#tap-1:checked ~ .card-slider .tap-1:before,
#tap-2:checked ~ .card-slider .tap-2:before,
#tap-3:checked ~ .card-slider .tap-3:before,
#tap-4:checked ~ .card-slider .tap-4:before{
    transform: scaleX(1);
    width: 100%;
}

input{
    display: none;
}

#championship h1{
    text-align: center;
    padding: 25px 0;
}

.championship__content h3{
    margin-bottom: 20px;
}

.wrapper {
    height: 600px;
    border: 5px solid #ddd;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    
}
  
.wrapper::-webkit-scrollbar {
    width: 0;
}
  
.wrapper .card{
    min-width: 250px;
    height: 550px;
    line-height: 500px; 
    text-align: center;
    background-color: snow;
    color: #000;
    border-radius: 25px;
    margin: 15px;
}
  
.wrapper .card .card-content{
    line-height: 25px;
    margin: 15px;
}

@media only screen and (min-width: 768px){
    .championship__card__content{
        display: flex;
        justify-content: center;
        align-content: center;
    }

    .championship__content h3{
        font-size: 1.75rem;
        margin-bottom: 50px;
    }
    
    .card{
        width: 500px;
        margin-bottom: 50px;
    }

    .card__content h3{
        font-size: 1.25rem;
    }

    .card-slider{
        bottom: 30px;
        left: 250px;
    }
}


/* --- FOOTER ---*/
#contact{
    text-align: center;
    height: 100%;
    padding: 2.25rem;
}

.contact__wrapper{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-content: center;
    color: #fff; 
}
  
.contact__content  h1{
    padding: 25px 0;
}
 
.contact__content  h2{
    padding-bottom: 25px;
}

.contact__content p{
    padding: 25px;
    font-size: 1.25rem;
}

.contact__wrapper .portrait img{
    height: 250px;
    width: 250px;  
    margin: 20px 0;
    border-radius: 50%;
    border: 5px solid #fff;
}
  
.contact__img{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 30px 0;
    color: rgb(245, 240, 243);
}
  
.contact__img img{
    margin: 20px;
    width: 50%;
    font-size: 0.5em;
}

@media only screen and (min-width: 768px){
    #contact{
        padding: 0 50px;
    }

    .contact__img  {
        padding: 0 50px;
    }

    .contact__img img{
        width: 40%;
    }

    .contact__content p{
        font-size: 1.5rem;
    }
}

@media only screen and (min-width: 960px){
    .contact__wrapper{
        display: flex;
        flex-flow: wrap;
    }

    .contact__container{
        width: 45%;
    }
}